@using EsccWebTeam.Data.Web
@using EsccWebTeam.EastSussexGovUK.MasterPages
@model Escc.EastSussexGovUK.Umbraco.Models.BaseViewModelWithInheritedContent
@{
    if (Model.SocialMedia != null && Model.SocialMedia.FacebookPageUrl != null)
    {
        var showWidget = !Model.SocialMedia.DoNotTrack && Model.EsccWebsiteView == EsccWebsiteView.Desktop;

        if (Model.EsccWebsiteView == EsccWebsiteView.Desktop)
        {
            // Should show at small and medium sizes, and at large if Do Not Track is set
            var facebookClass = showWidget ? "text text-content content-small content-medium small medium" : "supporting " + Model.EsccWebsiteSkin.SupportingTextContentClass;

            <div class="@facebookClass">
                <p class="facebook">Find us on Facebook: <a href="@Model.SocialMedia.FacebookPageUrl">@Iri.ShortenForDisplay(Model.SocialMedia.FacebookPageUrl)</a></p>
            </div>
        }
        
        if (showWidget)
        {
            <div class="supporting large">
                <div class="fb-like-box" data-width="252" data-header="true" data-href="@Model.SocialMedia.FacebookPageUrl" data-show-faces="@(Model.SocialMedia.FacebookShowFaces ? true : false)" data-stream="@(Model.SocialMedia.FacebookShowFeed ? true : false)"></div>
            </div>
        }
    }
}