@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Umbraco.Views.Layouts
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.BaseViewModel>
@{
    Html.Partial("~/Views/Layouts/_FeatureDependency.cshtml", Model.EsccWebsiteSkin);
    Html.Partial("~/Views/Layouts/_CmsPreview.cshtml", Model);
}
@Html.Partial("~/Views/Layouts/MasterPageControl.ascx", new MasterPageControlData { Control = "HtmlTag" })
<head>
    @Html.Partial("~/Views/Layouts/_ContentExperiment.cshtml", Model)
    @Html.Partial("~/Views/Layouts/MasterPageControl.ascx", new MasterPageControlData { Control = "MetadataFullScreen" })
    @Html.Partial("~/Views/Layouts/_Fonts.cshtml", Model.EsccWebsiteSkin)
    @Html.RenderCssHere()
    @RenderSection("Metadata", required: false)
    @if (!String.IsNullOrEmpty(Model.PageId))
    {
        <meta name="eGMS.systemID" content="@Model.PageId" />
    }
</head>
@if (IsSectionDefined("BodyClass"))
{
    @:<body class="@RenderSection("BodyClass")">
}
else
{
    @:<body>
        }
<div class="full-screen">
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
        @:
        <header>
            <div class="header context">
                @Html.Partial("~/Views/Layouts/MasterPageControl.ascx", new MasterPageControlData { Control = "HeaderFullScreen" })
                <div class="full-screen-bar">
                    <h1>@RenderSection("FullScreenHeading", required: false)</h1>
                    @RenderSection("FullScreenLinks", required: false)
                </div>
            </div>
        </header>
    }
    <div id="main" role="main" class="body">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
    }
    @Html.Partial("~/Views/Layouts/_ScriptsFullScreen.cshtml")
    @Html.RenderJsHere()
    @RenderSection("JavaScript", required: false)
</div>
</body>
</html>

@{  // Do not render these sections for this layout
    if (IsSectionDefined("Breadcrumb")) { RenderSection("Breadcrumb").WriteTo(TextWriter.Null); }
}
