@using System.Globalization
@using System.Text.RegularExpressions
@using Escc.EastSussexGovUK.Umbraco.UserControls.EastSussexGovUK
@using EsccWebTeam.EastSussexGovUK
@inherits Umbraco.Web.Mvc.UmbracoViewPage<BaseViewModel>
@{
    Layout = null;
}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HtmlTag" })
<head>
    @Html.Partial("~/Views/Layouts/_ContentExperiment.cshtml", Model)
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "MetadataDesktop" })
    @RenderSection("Metadata", required: false)
</head>
@{
    var siteContext = new EastSussexGovUKContext();
    var bodyClass = String.Empty;
    if (siteContext.TextSize > 1)
    {
        bodyClass = "size" + siteContext.TextSize.ToString(CultureInfo.InvariantCulture);
    }
}
@if (IsSectionDefined("BodyClass"))
{
    @:<body class="@bodyClass @RenderSection("BodyClass")">
    }
else
{
    var body = "<body";
    if (!String.IsNullOrEmpty(bodyClass))
    {
        body += " class=\"" + bodyClass + "\"";
    }
    body += ">";
    @Html.Raw(body);
}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "AboveHeaderDesktop" })
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header")
}
else
{
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HeaderDesktop" })
}
<div id="main" role="main" class="body">
    <div class="container">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        else
        {
            @Html.Partial("~/Usercontrols/EastSussexGovUK/BreadcrumbTrail.ascx")
            @Html.Partial("~/Usercontrols/EastSussexGovUK/BreadcrumbTrailMobile.ascx")
        }
        @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "Alert" })
        @RenderBody()
        @if (IsSectionDefined("Supporting"))
        {
            @RenderSection("Supporting")
        }
        else
        {
            @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "SupportingContentDesktop" })
            if (Regex.IsMatch(Request.RawUrl, "/socialcare") && 
                Regex.IsMatch(Request.RawUrl, @"^((?!\/socialcare\/disability\/learning).)*$") &&
                Regex.IsMatch(Request.RawUrl, @"^((?!\/socialcare\/providers\/resources\/healthpromotion).)*$"))
            {
                @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "1Space" })
            }
        }

    </div>
</div>
@if (IsSectionDefined("Footer"))
{
    @RenderSection("Footer")
}
else
{
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "FooterDesktop" })
}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "ScriptsDesktop" })
@RenderSection("JavaScript", required: false)
</body>
    </html>
