@using Escc.EastSussexGovUK.Umbraco.UserControls.EastSussexGovUK
@inherits Umbraco.Web.Mvc.UmbracoViewPage<EsccWebTeam.EastSussexGovUK.BaseViewModel>
@{
    Layout = null;
}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HtmlTag" })
<head>
    @Html.Partial("~/Views/Layouts/_ContentExperiment.cshtml", Model)
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "MetadataMobile" })
    @RenderSection("Metadata", required: false)
</head>
@if (IsSectionDefined("BodyClass"))
{
    @:<body class="@RenderSection("BodyClass")">
}
else
{
    @:<body>
	}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "AboveHeaderMobile" })
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header")
}
else
{
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HeaderMobile" })
}
<div id="main" role="main" class="body">
    <div class="container">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        else
        {
            @Html.Partial("~/Usercontrols/EastSussexGovUK/BreadcrumbTrailMobile.ascx")
        }
        @RenderBody()
        @RenderSection("Supporting", required: false)
    </div>
</div>
@if (IsSectionDefined("Footer"))
{
    @RenderSection("Footer")
}
else
{
    @Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "FooterMobile" })
}
@Html.Partial("~/Usercontrols/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "ScriptsMobile" })
@RenderSection("JavaScript", required: false)
</body>
</html>
