@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Umbraco.Web.Services
@using Escc.EastSussexGovUK.Mvc
@using Escc.EastSussexGovUK.Views
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Web.CampaignTemplates.CampaignLandingViewModel>
@{
    Model.EsccWebsiteView = new MvcViewSelector().CurrentViewIs(HttpRuntime.AppDomainAppVirtualPath, Layout);

    Html.RequiresCss(CssFileAlias.Resolve("CampaignSmall"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignLandingCss&media-query=small", 101);
    Html.RequiresCss(CssFileAlias.Resolve("CampaignMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("CampaignLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignLandingCss&media-query=medium", 101, MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignLandingCss&media-query=large", 101, MediaQueryAlias.Resolve("Large"));

    Html.RequiresCss(CssFileAlias.Resolve("CampaignPrint"), new Dictionary<string, string>() { { "media", "print" } });
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
{
new EmbeddedYouTubeVideos() { Html = new [] { Model.Content.ToString() }}
});

    if (Model.LandingNavigation.Sections.Count > 0)
    {
        Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
        if (Model.EsccWebsiteView == EsccWebsiteView.Desktop)
        {
            Html.RequiresCss(CssFileAlias.Resolve("NavigationMedium"), MediaQueryAlias.Resolve("Medium"));
            Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
        }
    }

    var nonce = Guid.NewGuid().ToString().Replace("-", String.Empty);
    if (!String.IsNullOrEmpty(Model.GoogleAdWordsTag))
    {
        var policy = new ContentSecurityPolicyHeaders(Response.Headers);
        policy.AppendPolicy($"script-src 'nonce-{nonce}' https://www.googleadservices.com; img-src https://www.googleadservices.com");
        policy.UpdateHeaders();
    }
}
@section BodyClass {
    campaign-landing
}
<div class="full-page" data-video-height="@Model.VideoHeight" data-video-max-width="966">
    <div class="lead">
        <h1>@Model.Metadata.Title</h1>
        @if (!String.IsNullOrEmpty(Model.Introduction.ToHtmlString()))
        {
            var alignIntroMedium = (Model.AlignIntroductionMedium == "Left" || Model.AlignIntroductionMedium == "Right") ? "medium-" + Model.AlignIntroductionMedium.ToLowerInvariant() : String.Empty;
            var alignIntroLarge = (Model.AlignIntroductionLarge == "Left" || Model.AlignIntroductionLarge == "Right") ? "large-" + Model.AlignIntroductionLarge.ToLowerInvariant() : String.Empty;
            <div class="intro @alignIntroMedium @alignIntroLarge">@Model.Introduction</div>
        }
        @if (Model.LandingNavigation.Sections.Count > 0)
        {
            var alignLandingNavMedium = (Model.AlignLandingNavigationMedium == "Left" || Model.AlignLandingNavigationMedium == "Right") ? "medium-" + Model.AlignLandingNavigationMedium.ToLowerInvariant() : String.Empty;
            var alignLandingNavLarge = (Model.AlignLandingNavigationLarge == "Left" || Model.AlignLandingNavigationLarge == "Right") ? "large-" + Model.AlignLandingNavigationLarge.ToLowerInvariant() : String.Empty;
            <div class="text-content landing-nav @alignLandingNavMedium @alignLandingNavLarge">
                @Html.Partial("~/Views/Layouts/_LandingNavigation.cshtml", Model.LandingNavigation)
            </div>
        }
    </div>

    @if (Model.ButtonTargets.Any())
    {
        var alignButtonsMedium = (Model.AlignButtonsMedium == "Left" || Model.AlignButtonsMedium == "Right") ? "medium-" + Model.AlignButtonsMedium.ToLowerInvariant() : String.Empty;
        var alignButtonsLarge = (Model.AlignButtonsLarge == "Left" || Model.AlignButtonsLarge == "Right") ? "large-" + Model.AlignButtonsLarge.ToLowerInvariant() : String.Empty;
        <div class="buttons @alignButtonsMedium @alignButtonsLarge">
            @{
                var i = 0;
                foreach (var link in Model.ButtonTargets)
                {
                    <a href="@link.Url" class="button-@(i + 1)">
                        <h2>@link.Text</h2>
                        @if (!String.IsNullOrWhiteSpace(Model.ButtonDescriptions.ElementAt(i)))
                        {
                            <p>@Model.ButtonDescriptions.ElementAt(i)</p>
                        }
                    </a>
                    i++;
                }
            }
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.Content.ToHtmlString()))
    {
        <div class="text-content landing-content">
            @Model.Content
        </div>
    }
    <div class="text-content share-container">
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml", Model)
    </div>
</div>
@section JavaScript {
    @{
        if (!String.IsNullOrEmpty(Model.GoogleAdWordsTag))
        {
            var parser = new GoogleAdWordsTagParser();
            if (parser.ParseTag(Model.GoogleAdWordsTag))
            {
                <script nonce="@nonce">
                    @Html.Raw(parser.JavaScript)
                </script>
                <script src="//www.googleadservices.com/pagead/conversion.js"></script>
                <noscript><img height="1" width="1" alt="" src="@parser.ImageUrl" /></noscript>
            }
        }
    }
}