@using System.Text
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.Umbraco.PropertyTypes
@using Escc.EastSussexGovUK.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Web.HomePage.HomePageViewModel>
@{
    Model.EsccWebsiteView = new MvcViewSelector().CurrentViewIs(Layout);

    Html.RequiresCss(CssFileAlias.Resolve("HomeSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("TilesSmall"));
    Html.RequiresJs(JsFileAlias.Resolve("Home"), 100);
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("TilesMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("HomeMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(CssFileAlias.Resolve("HomeLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresJs(JsFileAlias.Resolve("HomeTabs"), 90);
    Html.RequiresJs(JsFileAlias.Resolve("Tips"));
    Html.RequiresJs(JsFileAlias.Resolve("DescribedByTips"));

    var baseUrl = new HostingEnvironmentContext(Request.Url).BaseUrl?.TrimPathEndSlash();

    Model.Metadata.OpenGraphType = "government";
}
@functions{

    public string DisplayAsTwoUnorderedLists(IList<HtmlLink> links)
    {
        var html = new StringBuilder();
        var newList = Math.Ceiling((decimal)links.Count / 2);
        for (var i = 0; i < links.Count; i++)
        {
            var link = links[i];
            if (i == 0)
            {
                html.Append("<ul class=\"first\">");
            }
            if (i == newList)
            {
                html.Append("<ul class=\"second\">");
            }
            html.Append("<li><a href=\"").Append(HttpUtility.HtmlEncode(link.Url)).Append("\">").Append(HttpUtility.HtmlEncode(link.Text)).Append("</a></li>");
            if (i == newList - 1 || i == links.Count - 1)
            {
                html.Append("</ul>");
            }
        }
        return html.ToString();
    }

}
@section Metadata
{
    <link rel="alternate" type="application/rss+xml" href="@Request.Url.Scheme://@Request.Url.Authority/home-news-items/" title="News - East Sussex County Council" />
    <link rel="alternate" type="application/rss+xml" href="@Request.Url.Scheme://@Request.Url.Authority/home-get-involved/" title="Get involved - East Sussex County Council" />
}
@section Breadcrumb{}
<h1 class="aural">East Sussex County Council</h1>
<div class="top-tasks-group">
    <div class="top-tasks text-content">
        <section class="gutters">
            <h2>@Model.TopTasksTitle</h2>
            @Html.Raw(DisplayAsTwoUnorderedLists(Model.TopTasksLinks))
        </section>
    </div>

    <div class="report-apply-pay text-content" id="rap">
        <section>
            <ul class="tabs gutters">
                <li><a href="#rap-1">Report</a></li>
                <li><a href="#rap-2">Apply</a></li>
                <li><a href="#rap-3">Pay</a></li>
            </ul>
            <div id="rap-1" class="gutters">
                <h2>Report</h2>
                @Html.Raw(DisplayAsTwoUnorderedLists(Model.ReportLinks))
            </div>
            <div id="rap-2" class="gutters">
                <h2>Apply</h2>
                @Html.Raw(DisplayAsTwoUnorderedLists(Model.ApplyLinks))
            </div>
            <div id="rap-3" class="gutters">
                <h2>Pay</h2>
                @Html.Raw(DisplayAsTwoUnorderedLists(Model.PayLinks))
            </div>
        </section>
    </div>
</div>

<div class="news context" id="news">
    <section>
        <div class="features text-content gutters">
            <header><h2>@Model.NewsTitle</h2></header>

            @if (Model.NewsRssUrl != null)
            {
                <a class="feed screen" rel="alternate" type="application/rss+xml" id="rss1" href="@Model.NewsRssUrl"><img src="@baseUrl/img/body/rss-27px.gif" alt="RSS feed for News - East Sussex County Council" width="27" height="27" id="rssIcon1" /></a>
            }

            <ol>
                @{
                    for (var i = 0; i < Model.NewsItems.Count; i++)
                    {
                        <li class="feature-tile feature@(i+1)">
                            @Html.Partial("~/Views/_HomePageNewsItem.cshtml", @Model.NewsItems[i])
                        </li>
                    }
                }
            </ol>
        </div>
    </section>

    <section>
        <div class="schools text-content">
            @Html.Partial("~/Views/TermDates/QuickAnswerMvcProxy.ascx", Model)

            @if (Model.SchoolLinks.Any())
            {
                <ul>
                    @{
                        foreach (var link in Model.SchoolLinks)
                        {
                            <li><a href="@link.Url">@link.Text</a></li>
                        }
                    }
                </ul>
                        }
        </div>
    </section>

    <section>
        <div class="library-search text-content gutters">
            <h2>@Model.LibrariesTitle</h2>
            <form action="https://e-library.eastsussex.gov.uk/cgi-bin/spydus.exe/ENQ/OPAC/BIBENQ" method="GET" class="form simple-form">
                <input type="hidden" name="ENTRY_NAME" value="BS" />
                <input type="hidden" name="NRECS" value="20" />
                <label for="libraryTerm" class="aural">Search the library catalogue</label>
                <input id="libraryTerm" type="search" name="ENTRY" />
                <input type="submit" value="Search" />
            </form>
            @Html.Raw(DisplayAsTwoUnorderedLists(Model.LibrariesContent))
        </div>
    </section>
</div>

@if (Model.JobSearchResultsPage != null)
{
    @Html.Partial("HomePageJobSearch")
}

<div class="recycle text-content">
    <div class="gutters context">
        <section>
            <h2>@Model.RecyclingTitle</h2>
            @Html.Partial("~/Views/Shared/_RecyclingSiteFinder.cshtml", Model.RecyclingSiteSearch)
        </section>
    </div>
</div>

<div class="involved text-content">
    @{
        var involvedClass = Model.InvolvedLinks.Any() ? "gutters context has-buttons" : "gutters context";
    }
    <div class="@involvedClass">
        <section>
            <header>
                <h2>@Model.InvolvedTitle</h2></header>
            @if (Model.InvolvedRssUrl != null)
            {
                <a class="feed screen" rel="alternate" type="application/rss+xml" id="rss4" href="@Model.InvolvedRssUrl"><img src="@baseUrl/img/body/rss-27px.gif" alt="RSS feed for Get involved - East Sussex County Council" width="27" height="27"/></a>
            }
            @if (Model.InvolvedItems.Any())
            {
                <ul>
                    @foreach (var item in Model.InvolvedItems)
                    {
                        <li>
                            <a href="@item.Link.Url">@item.Link.Text</a>
                            @Html.Raw(item.Description)
                        </li>
                    }
                </ul>
            }

            @if (Model.InvolvedLinks.Any())
            {
                <footer id="involvedFooter">
                    <div class="buttons">
                        @{
                            foreach (var link in Model.InvolvedLinks)
                            {
                                <a href="@link.Url">@link.Text</a>
                            }
                        }
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<div class="text-content content rating-box">
    @Html.Partial("~/Views/Layouts/_Rating.cshtml")
</div>
@section Javascript{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "WebSite",
        "url": "@Request.Url.Scheme://@Request.Url.Authority/",
        "potentialAction": {
        "@@type": "SearchAction",
        "target": "https://new.eastsussex.gov.uk/search/search.aspx?q={q}",
        "query-input": "required name=q"
        }
        }
    </script>
}