@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Umbraco.Web.Jobs.Alerts
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Web.Jobs.Alerts.JobAlertsViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin();
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=medium", 101, MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=large", 101, MediaQueryAlias.Resolve("Large"));
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)

<div class="full-page jobs-content">
    <div class="content text-content">
        <h1>@Model.Metadata.Title</h1>
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")

        @if (Model.Alert != null)
        {
            if (Request.QueryString["updated"] == "1")
            {
                <div class="success">
                    <p>Your alert has been saved.</p>
                </div>
            }

            using (Html.BeginUmbracoForm<JobAlertsSurfaceController>("ReplaceAlert", null, new Dictionary<string, object> { { "class", "form short-form" } }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("JobsSearchForm", Model)
            }

            using (Html.BeginUmbracoForm<JobAlertsSurfaceController>("CancelAlert", null, new Dictionary<string, object>() { { "class", "form" } }))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="Cancel my alert" />
            }
        }
        else if (Request.QueryString["cancelled"] == "1")
        {
            <p>We have cancelled your job alert.</p>
        }
    </div>
</div>

