@model Escc.EastSussexGovUK.Umbraco.Web.Jobs.BaseJobsViewModel
@{
    var headerClass = Model.HeaderBackgroundImageSmall != null ? "with-image" : String.Empty;
}
<div class="jobs-header text-content @headerClass">
    <div class="content">
        <div class="context">
            @if (Model.JobsLogo != null)
            {
                if (Model.JobsHomePage != null)
                {
                    <a href="@Model.JobsHomePage.Url"><img src="@Model.JobsLogo.ImageUrl" alt="@Model.Metadata.Title" width="@Model.JobsLogo.Width" class="jobs-logo" /></a>
                }
                else
                {
                    <img src="@Model.JobsLogo.ImageUrl" alt="@Model.Metadata.Title" width="@Model.JobsLogo.Width" class="jobs-logo" />
                }
            }
            @if (Model.LoginPage != null)
            {
                <p class="login">
                    <a href="@Model.LoginPage.Url" rel="nofollow">Log in &gt;</a>
                </p>
            }
            else if (Model.LoginUrl != null)
            {
                <p class="login">
                    <a href="@Model.LoginUrl" rel="nofollow">Log in &gt;</a>
                </p>
            }
        </div>
        @if (Model.SearchResultsPageForHeader != null)
        {
            <div class="jobs-search">
                <form action="@Model.SearchResultsPageForHeader.Url" method="GET" class="form simple-form">
                    <label for="keywords">Search for jobs</label>
                    <div class="fields">
                        <input type="search" name="keywords" id="keywords" placeholder="keyword, eg social worker" />
                        <div class="buttons">
                            <input type="submit" value="Search &gt;" />
                            @if (Model.SearchPage != null)
                            {
                                <a href="@Model.SearchPage.Url" class="button">Advanced search &gt;</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.HeaderBackgroundImageCaption))
        {
            <p class="caption"><span class="aural">Caption for header image:</span> @Model.HeaderBackgroundImageCaption</p>
        }
    </div>
</div>
