@using Umbraco.Web
@using Umbraco.Forms.Mvc
@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{
    var className = Html.GetFormFieldClass(Model.FieldTypeName).ToHtmlString();
    if (Model.AdditionalSettings.ContainsKey("PrivacyNotice") && string.IsNullOrEmpty(Model.AdditionalSettings["PrivacyNotice"]) == false)
    {
        className += " describedby-tip";
    }
}

<input type="file" class="@className"  name="@Model.Name" id="@Model.Id" multiple
@{if(Model.AdditionalSettings.ContainsKey("PrivacyNotice") && string.IsNullOrEmpty(Model.AdditionalSettings["PrivacyNotice"]) == false){<text>aria-describedby="@Model.Id-privacy"</text>}}
@if(Model.Mandatory){<text> data-val="true" data-val-required="@Model.RequiredErrorMessage"</text>} />

@if (Model.Values != null && Model.Values.Any())
{
    <p>
        Current file:
        @foreach (string filePath in Model.Values)
        {
            @Path.GetFileName(filePath)
            <input type="hidden" name="@(Model.Name)_file_@(filePath)" value="@filePath" />
        }
    </p>
}

@{if (Model.AdditionalSettings.ContainsKey("PrivacyNotice") && string.IsNullOrEmpty(Model.AdditionalSettings["PrivacyNotice"]) == false)
{
    <p id="@Model.Id-privacy">@Model.AdditionalSettings["PrivacyNotice"]</p>
}}