@using Escc.Dates
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.LocationViewModel>
@{
    var everOpens = Model.OpenUntil.HasValue || Model.NextOpen.HasValue;
    var everOpensTwice = Model.OpeningHours.Any(opening => !String.IsNullOrEmpty(opening.OpensAgainAt));
}
@if (everOpens)
{
    <h2>Opening times</h2>
    <table>
        @foreach (var opening in @Model.OpeningHours)
        {
            var today = (DateTime.Now.DayOfWeek.ToString().Substring(0, 2).ToUpperInvariant() == opening.Day.Substring(0, 2).ToUpperInvariant()) ? "today" : null;

            <tr class="@today">

                <th>@opening.Day</th>
                @if (opening.Scheduled && (opening.OpensAtTime.HasValue || opening.OpensAgainAtTime.HasValue))
                {
                    if (opening.OpensAtTime.HasValue && opening.ClosesAtTime.HasValue)
                    {
                        <td>@opening.OpensAtTime.Value.ToBritishTime() &#8211; @opening.ClosesAtTime.Value.ToBritishTime()</td>
                    }
                    else
                    {
                        <td>Closed</td>
                    }

                    if (everOpensTwice)
                    {
                        if (opening.OpensAgainAtTime.HasValue && opening.ClosesAgainAtTime.HasValue)
                        {
                            <td>@opening.OpensAgainAtTime.Value.ToBritishTime() &#8211; @opening.ClosesAgainAtTime.Value.ToBritishTime()</td>
                        }
                        else
                        {
                            <td>Closed</td>
                        }
                    }
                }
                else
                {
                    var colspan = everOpensTwice ? "2" : null;
                    <td colspan="@colspan">Closed</td>
                }
            </tr>
        }
    </table>
}

@if (!String.IsNullOrEmpty(Model.OpeningHoursDetails.ToString()))
{
    @Model.OpeningHoursDetails
}