@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Umbraco.Jobs
@using Escc.EastSussexGovUK.Umbraco.Services
@using Escc.EastSussexGovUK.Views
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.CampaignTemplates.CampaignTilesViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);

    Html.RequiresCss(CssFileAlias.Resolve("CampaignSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("MobileControls"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignTilesCss&media-query=small", 101);
    if (Model.EsccWebsiteView == EsccWebsiteView.Desktop)
    {
        Html.RequiresCss(CssFileAlias.Resolve("CampaignMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("CampaignLarge"), MediaQueryAlias.Resolve("Large"));
        Html.RequiresCss(CssFileAlias.Resolve("NavigationMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
        Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignTilesCss&media-query=medium", 101, MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=CampaignTilesCss&media-query=large", 101, MediaQueryAlias.Resolve("Large"));
    }
    Html.RequiresCss(CssFileAlias.Resolve("CampaignPrint"), new Dictionary<string, string>() { { "media", "print" } });

    Html.RequiresJs(JsFileAlias.Resolve("Navigation"));
}
@section Metadata {
    @if (!String.IsNullOrEmpty(Model.TileFontFamily))
    {
        var formatter = new GoogleFontFamilyFormatter();
        @formatter.FormatAsFontReference(Model.TileFontFamily);
    }
}
@section BodyClass {campaign-tiles}
<div class="full-page">
    <article>
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>

            @Html.Partial("~/Views/Layouts/_GuideNavigation.cshtml", Model.CampaignPages)

            <ul class="tiles">
                @for (var i = 0 ; i < Model.Tiles.Count; i++)
                {
                    var tile = Model.Tiles[i];
                    var oddOrEven = (i % 2 == 0) ? "odd" : "even"; // because nth-child is IE11+
                    var group = "group" + ((i % 3) + 1);
                    <li class="@oddOrEven @group">
                        <a href="@tile.Url">
                            <img src="@tile.Image.ImageUrl" alt="@tile.Image.AlternativeText" width="@tile.Image.Width"/>
                            @if (!String.IsNullOrEmpty(tile.Title))
                            {
                                <h2>@tile.Title</h2>
                            }
                            @if (!String.IsNullOrEmpty(tile.Description))
                            {
                                <p>@tile.Description</p>
                            }
                        </a>
                    </li>
                }
            </ul>
        </div>
    </article>
</div>