@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.Registration.MarriageSkin
@using Escc.EastSussexGovUK.Umbraco.MicrosoftCmsMigration
@using Escc.EastSussexGovUK.Views
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MicrosoftCmsViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = SkinSelector.SelectSkin(new IEsccWebsiteSkin[] {new MarriageSkin(Model.EsccWebsiteView, Model.Metadata.PageUrl)}, new CustomerFocusSkin(Model.EsccWebsiteView));

    Html.RequiresCss(CssFileAlias.Resolve("FormDownload"));

    var placeholders = CmsUtilities.Placeholders;
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        new EmbeddedYouTubeVideos() { Html = new [] { placeholders["phDefIntro"].Value.ToString() }},
        new EmbeddedGoogleMaps() { Html = new [] { placeholders["phDefIntro"].Value.ToString() } },
        new WebChat() { WebChatSettings = Model.WebChat }
    });

    Model.Metadata.LgtlType = "Forms";
    Model.Metadata.LgilType = "Applications for service";
}

<div class="article">
    <article>
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>
            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
            @Html.Partial("~/Views/FormDownloadPage.ascx", Model)
            </div>
</article>
</div>

@Html.Partial("~/MicrosoftCmsMigration/UserControls/RelatedLinksMvc.ascx", Model)

@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
</div>