@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Umbraco.Skins.Registration
@using Escc.EastSussexGovUK.Umbraco.Skins.FosterWithTrust
@using Escc.EastSussexGovUK.Umbraco.Skins.RegistrationAcademy
@using Escc.EastSussexGovUK.Umbraco.Skins.SupportWithTrust
@using Escc.EastSussexGovUK.Umbraco.Services
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Guide.GuideStepViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = SkinSelector.SelectSkin(new IEsccWebsiteSkin[] {
        new CoronerSkin(Request.Url),
        new RegistrationAcademySkin(Model.SkinToApply == "Registration Academy"),
        new RegistrationSkin(Model.Metadata.PageUrl),
        new FosterWithTrustSkin(Model.SkinToApply == "Foster with trust"),
        new SupportWithTrustSkin(Model.SkinToApply == "Support with trust")
        }, new CustomerFocusSkin());

    Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
    if (Model.EsccWebsiteView != EsccWebsiteView.Plain)
    {
        Html.RequiresCss(CssFileAlias.Resolve("NavigationMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
    }
    Html.RequiresCss(CssFileAlias.Resolve("MobileControls"));
    Html.RequiresJs(JsFileAlias.Resolve("Navigation"));

    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
{
new EmbeddedYouTubeVideos() { Html = new [] { Model.StepContent.ToString() }},
new EmbeddedGoogleMaps() { Html = new [] { Model.StepContent.ToString() }},
new EmbeddedICaseworkForm() { Html = new [] { Model.StepContent.ToString() }},
new WebChat() { WebChatSettings = Model.WebChat }
});

    var thisStep = 1;
    for (var i = 0; i < Model.Steps.Count; i++)
    {
        if (Model.Steps[i].IsCurrentPage)
        {
            thisStep = i;
            break;
        }
    }

    var stepTitle = Model.Metadata.Title;
    Model.Metadata.Title = Model.Metadata.Title + " – " + Model.GuideTitle;
}
@section Metadata
{
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css' />
}

<div class="article guide-step">
    <article>
        <div class="content text-content">

            <h1>@Model.GuideTitle</h1>

            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
            @if (Model.StepsHaveAnOrder)
            {
                @Html.Partial("~/Views/Layouts/_GuideNavigation.cshtml", Model.Steps)

                <h2>@(thisStep + 1). @stepTitle</h2>
            }
            else
            {
                <nav role="navigation" title="All pages in this section">
                    <ul class="guide-nav">
                        @{
                            foreach (var step in Model.Steps)
                            {
                                <li>
                                    @if (step.IsCurrentPage)
                                    {
                                        @step.Text
                                    }
                                    else
                                    {
                                        <a href="@step.Url">@step.Text</a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </nav>

                <h2>@stepTitle</h2>
            }


            @Model.StepContent

            @foreach (var image in Model.PartnerImages)
            {
                <img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" height="@image.Height" />
            }

            @if (Model.StepsHaveAnOrder && Model.Steps.Count > 1)
            {
                <footer>
                    <nav role="navigation" title="Previous and next pages">
                        <div class="prev-next">
                            @if (thisStep > 0)
                            {
                                <p><a href="@Model.Steps[thisStep - 1].Url" rel="prev"><em>Previous</em> <span>@Model.Steps[thisStep - 1].Text</span></a></p>
                            }

                            @if (thisStep < Model.Steps.Count - 1)
                            {
                                <p><a href="@Model.Steps[thisStep + 1].Url" rel="next"><em>Next</em> <span>@Model.Steps[thisStep + 1].Text</span></a></p>
                            }
                        </div>
                    </nav>
                </footer>
            }

            @{ var printUrl = Model.GuideUrl + "print"; }
            <p class="screen"><a href="@printUrl" target="_blank" rel="nofollow">Print entire guide</a></p>
        </div>
    </article>
</div>

@Html.Partial("~/Views/Layouts/_RelatedLinks.cshtml", Model.RelatedLinksGroups)
@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    @Html.Partial("~/Views/Layouts/_Rating.cshtml")
</div>