@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.Registration.RegistrationSkin
@using Escc.EastSussexGovUK.Umbraco.Skins.FosterWithTrust
@using Escc.EastSussexGovUK.Umbraco.Skins.SupportWithTrust
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Guide.GuideViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = SkinSelector.SelectSkin(new IEsccWebsiteSkin[] {
        new CoronerSkin(Model.EsccWebsiteView, Request.Url),
        new RegistrationSkin(Model.EsccWebsiteView, Model.Metadata.PageUrl),
        new FosterWithTrustSkin(Model.EsccWebsiteView, Model.SkinToApply == "Foster with trust"),
        new SupportWithTrustSkin(Model.EsccWebsiteView, Model.SkinToApply == "Support with trust")
    }, new CustomerFocusSkin(Model.EsccWebsiteView));

    // This is a print view so, if not requested as such, redirect
    if (Request.Url != null && !Request.Url.AbsolutePath.EndsWith("/print", StringComparison.OrdinalIgnoreCase))
    {
        var firstStep = Model.Steps.First();
        if (firstStep != null && firstStep.Steps.Any())
        {
            new HttpStatus().SeeOther(firstStep.Steps.First().Url);
        }
    }

    // Get the guide title from the first step
    Model.Metadata.Title = Model.Steps.Any() ? Model.Steps.First().GuideTitle : String.Empty;

    // Embed YouTube videos and Google maps which can print
    var html = Model.Steps.Select(step => step.StepContent.ToString()).ToArray();
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        new EmbeddedYouTubeVideos() { Html = html },
        new EmbeddedGoogleMaps() { Html = html }
    });

    Html.RequiresJs("~/js/guide.js");
}

@section Metadata
{
    <meta name="robots" content="none"/>
}

<div class="full-page">
    <article>
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>

            @{
                if (Model.StepsHaveAnOrder)
                {
                    var stepNumber = 0;
                    foreach (var step in Model.Steps)
                    {
                        stepNumber++;
                        <h2>@stepNumber. @step.Metadata.Title</h2>
                        @step.StepContent
                    }
                }
                else
                {
                    foreach (var step in Model.Steps)
                    {
                        <h2>@step.Metadata.Title</h2>
                        @step.StepContent
                    }
                }
            }
        </div>
    </article>
</div>