@model Escc.EastSussexGovUK.Umbraco.HomePage.HomePageViewModel
@if (Model.JobSearchResultsPage != null)
{
    <form action="@Model.JobSearchResultsPage.Url" method="get" class="job-search text-content">
        @if (Model.JobsLogo == null)
        {
            <div class="gutters">
                <h2>Search for jobs</h2>
            </div>
        }
        <div class="form short-form">
            @if (Model.JobsLogo != null)
            {
                if (Model.JobsHomePage != null)
                {
                    <h2><a href="@Model.JobsHomePage.Url"><img src="@Model.JobsLogo.ImageUrl" width="@Model.JobsLogo.Width" height="@Model.JobsLogo.Height" alt="Search for jobs" /></a></h2>
                }
                else
                {
                    <h2><img src="@Model.JobsLogo.ImageUrl" width="@Model.JobsLogo.Width" height="@Model.JobsLogo.Height" alt="Search for jobs" /></h2>
                }
            }
            <label for="keywords">Search for jobs</label>
            <input type="search" name="keywords" size="15" id="keywords" />
            <label for="location">Location</label>
            <select name="location" id="location">
                <option value="All" selected="selected">All</option>
                @foreach (var location in Model.JobLocations)
                {
                    <option value="@location.Text">@location.Text (@location.Count)</option>
                }
            </select>
            <label for="type">Category</label>
            <select name="type" id="type">
                <option value="All" selected="selected">All</option>
                @foreach (var jobType in Model.JobTypes)
                {
                    <option value="@jobType.Text">@jobType.Text (@jobType.Count)</option>
                }
            </select>
            <div>
                <input type="Submit" value="Search" />
            </div>
        </div>
    </form>
}