@using Escc.Dates
@using Escc.Web
@model Escc.EastSussexGovUK.Umbraco.Jobs.JobAdvertViewModel
<div class="content text-content">
    <h1>@Model.Metadata.Title</h1>
</div>
@Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
<div class="article">
    <div class="content text-content">
        <dl>
            @if (!String.IsNullOrEmpty(Model.Job.Reference))
            {
                <dt>Job reference</dt>
                <dd id="job-reference">@Model.Job.Reference</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.Location))
            {
                <dt>Location</dt>
                <dd>@Model.Job.Location</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.Organisation))
            {
                <dt>Organisation</dt>
                <dd>@Model.Job.Organisation</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.Department))
            {
                <dt>Department</dt>
                <dd>@Model.Job.Department</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.ContractType))
            {
                <dt>Contract type</dt>
                <dd>@Model.Job.ContractType</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.JobType))
            {
                <dt>Job type</dt>
                <dd>@Model.Job.JobType</dd>
            }
            @if (!String.IsNullOrEmpty(Model.Job.Salary.SalaryRange))
            {
                <dt>Salary</dt>
                <dd>@Model.Job.Salary.SalaryRange</dd>
            }
            @if (Model.Job.ClosingDate.HasValue)
            {
                <dt>Closing date</dt>
                <dd>@Model.Job.ClosingDate.Value.ToBritishDateWithDay()</dd>
            }
        </dl>
        @Model.Job.AdvertHtml
        @if (Model.Job.ApplyUrl != null)
        {
            <p class="main-action"><a href="@Model.Job.ApplyUrl">Apply</a></p>
        }
    </div>
</div>
@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "JobPosting",
@if (Model.Job.Salary.MinimumSalary.HasValue) {
    @:"baseSalary": {
    @:    "@@type": "MonetaryAmount",
    @:    "currency": "GBP",
    @:    "minValue": "@Model.Job.Salary.MinimumSalary",
    @:    "maxValue": "@Model.Job.Salary.MaximumSalary"
    @:            },
}
    "title": "@Model.Job.JobTitle",
    "employmentType": "@Model.Job.ContractType",
    "industry": "Local government",
    "jobLocation": {
        "@@type": "Place",
        "address": {
            "@@type": "PostalAddress",
            "addressLocality": "@Model.Job.Location"
            }  
        },
    "salaryCurrency": "GBP",
    "hiringOrganization": {
        "@@type": "Organization",
        "name": "@Model.Job.Organisation"
        }
    },
    "validThrough": "@Model.Job.ClosingDate.Value.ToIso8601DateTime()",
    "url": "@Model.Job.Url"
</script>