@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.Dates
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Jobs.JobAdvertViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);
    Model.Metadata.Title = Model.Job.JobTitle;
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)

<div class="jobs-content">
    <div class="article">
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>
            <dl>
@if (!String.IsNullOrEmpty(Model.Job.Reference))
{
    <dt>Job reference</dt>
    <dd>@Model.Job.Reference</dd>
}
 @if (!String.IsNullOrEmpty(Model.Job.Location))
 {
     <dt>Location</dt>
     <dd>@Model.Job.Location</dd>
 }
@if (!String.IsNullOrEmpty(Model.Job.Organisation))
{
    <dt>Organisation</dt>
    <dd>@Model.Job.Organisation</dd>
}
@if (!String.IsNullOrEmpty(Model.Job.Department))
{
    <dt>Department</dt>
    <dd>@Model.Job.Department</dd>
}
@if (!String.IsNullOrEmpty(Model.Job.ContractType))
{
    <dt>Contract type</dt>
    <dd>@Model.Job.ContractType</dd>
}
@if (!String.IsNullOrEmpty(Model.Job.JobType))
{
    <dt>Job type</dt>
    <dd>@Model.Job.JobType</dd>
}
@if (!String.IsNullOrEmpty(Model.Job.Salary.SalaryRange))
{
    <dt>Salary</dt>
    <dd>@Model.Job.Salary.SalaryRange</dd>
}
@if (Model.Job.ClosingDate.HasValue)
{
    <dt>Closing date</dt>
    <dd>@Model.Job.ClosingDate.Value.ToBritishDateWithDay()</dd>
}
            </dl>
            @Model.Job.AdvertHtml
@if (Model.Job.ApplyUrl != null)
{
    <p class="main-action"><a href="@Model.Job.ApplyUrl">Apply</a></p>
}
        </div>
    </div>
    @Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
    @Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
    <div class="text-content content">
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    </div>
</div>