@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Mvc.Views.EastSussexGovUK
@using Escc.Dates
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Jobs.JobAdvertViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);
    Model.Metadata.Title = Model.Job?.JobTitle;
    Model.Metadata.DateIssued = Model.Job?.DatePublished == null ? String.Empty : Model.Job.DatePublished.Value.ToIso8601Date();
    Model.Metadata.PageUrl = Model.Job?.Url;
    Model.Metadata.DateAutoRemove = Model.Job?.ClosingDate.ToIso8601Date();
    Model.Metadata.DateReview = String.Empty;
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=medium", 101, MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=large", 101, MediaQueryAlias.Resolve("Large"));
    Html.RequiresJs("~/js/job-advert.js");
    Html.RequiresJs(JsFileAlias.Resolve("AccordionAndTabs"));

    var jobGone = false;
    if (Model.Job?.Id == 0 || Model.Job?.ClosingDate < DateTime.Today)
    {
        jobGone = true;
        Model.Metadata.Title = "Oh no, too late!";
        Model.Metadata.Description = "This job has closed. Search for jobs at www.eastsussex.gov.uk/jobs.";
        Response.StatusCode = 410;
    }
}
@section Metadata{
    @if (jobGone)
    {
        <meta name="robots" content="noindex" />
    }
    else
    {
        <meta name="robots" content="unavailable_after: @(Model.Job?.ClosingDate.ToRfc850DateTime())" />
    }
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)

<div class="jobs-content job-advert">
    @if (jobGone)
    {
        <div class="full-page">
            <div class="content text-content">
                <h1>@Model.Metadata.Title</h1>
                <p>That job has closed, but your perfect job could be still out there.</p>

                @if (Model.SearchResultsPageForClosedJobs != null)
                {
                    <form action="@Model.SearchResultsPageForClosedJobs.Url" method="GET" class="form simple-form job-search-simple">
                        <label for="keywords">Search for jobs</label>
                        <input type="search" name="keywords" id="keywords" placeholder="keyword, eg social worker" />
                        <input type="submit" value="Search &gt;" />
                    </form>
                }
                @if (Model.SimilarJobs.Count > 0)
                {
                    if (Model.SearchResultsPageForClosedJobs != null)
                    {
                        <p>&#8230;or try one of these:</p>
                    }
                    else
                    {
                        <p>How about one of these?</p>
                    }
                    <table class="job-results">
                        <thead>
                            <tr>
                                <th class="job-title">Job title</th>
                                <th class="location">Location</th>
                                <th class="salary">Salary range</th>
                                <th class="work-pattern">Work pattern</th>
                                <th class="closing-date">Closing date</th>
                            </tr>
                        </thead>
                        @Html.Partial("~/Views/JobsTableBody.cshtml", Model.SimilarJobs)
                    </table>
                }
                @if (Model.SearchResultsPageForClosedJobs != null)
                {
                    <p><a href="@Model.SearchResultsPageForClosedJobs.Url">View all jobs</a></p>
                }
            </div>
        </div>
    }
    else
    {
        @* Separate job fields into a partial view purely to help Razor parse this if statement *@
        @Html.Partial("~/Views/JobAdvertPartial.cshtml")
    }
    <div class="text-content content">
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    </div>
</div>
@section Footer {
    @if (Model.EsccWebsiteView == EsccWebsiteView.Desktop)
    {
        if (Model.Job?.ApplyUrl != null)
        {
            <p class="mobile-nav main-action small"><a href="@Model.Job.ApplyUrl" class="apply apply-mobile">Apply</a></p>
            <div class="footer-with-mobile-nav">
                @{ Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "FooterDesktop", BreadcrumbProvider = Model.BreadcrumbProvider }); }
            </div>
        }
        else
        {
            Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "FooterDesktop", BreadcrumbProvider = Model.BreadcrumbProvider });
        }
    }
}