@model Escc.EastSussexGovUK.Umbraco.Jobs.BaseJobsViewModel
@{
    var headerClass = Model.HeaderBackgroundImage != null ? "with-image" : String.Empty;
}
<div class="jobs-header text-content @headerClass">
    <div class="content">
        <div class="context">
            @if (Model.JobsLogo != null)
            {
                if (Model.JobsHomePage != null)
                {
                    <a href="@Model.JobsHomePage.Url"><img src="@Model.JobsLogo.ImageUrl" alt="@Model.Metadata.Title" width="@Model.JobsLogo.Width" class="jobs-logo" /></a>
                }
                else
                {
                    <img src="@Model.JobsLogo.ImageUrl" alt="@Model.Metadata.Title" width="@Model.JobsLogo.Width" class="jobs-logo" />
                }
            }
            @if (Model.LoginPage != null)
            {
                <p class="login">
                    <a href="@Model.LoginPage.Url">@Model.LoginPage.Text &gt;</a>
                </p>
            }
        </div>
    </div>
    @if (Model.SearchResultsPage != null)
    {
        <div class="jobs-search">
            <form action="@Model.SearchResultsPage.Url" method="GET" class="form simple-form">
                <div>
                    <input type="search" name="keywords"/>
                    <input type="submit" value="Search"/>
                </div>
            </form>
        </div>
    }
</div>
