@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Jobs.JobsComponentViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);
    if (Model.IsForm)
    {
        Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    }
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);

    new ContentSecurityPolicyHeaders(Response.Headers).AppendPolicy("script-src https://emea3.recruitmentplatform.com https://s7.addthis.com 'unsafe-inline'; style-src 'unsafe-inline'").UpdateHeaders();
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)

<div class="full-page jobs-content">
    <div class="content text-content">
        <h1>@Model.Metadata.Title</h1>
        <div class="@(Model.IsForm ? "form short-form" : String.Empty)">
            <script src="@Model.ScriptUrl.ScriptUrl"></script>
            <noscript><a href="@Model.ScriptUrl.LinkUrl">@Model.Metadata.Title</a></noscript>
        </div>
        @Model.ContentBelowComponent
    </div>
</div>

