@using Escc.Dates
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.RssViewModel<Escc.EastSussexGovUK.Umbraco.Jobs.Job>>
@{
    Layout = null;
    Response.ContentType = "text/html";
    var corsPolicy = new CorsPolicyFromConfig().CorsPolicy;
    new CorsHeaders(Request.Headers, Response.Headers, corsPolicy).UpdateHeaders();
}
<table>
    <thead>
    <tr><th>Job title</th><th>Location</th><th>Salary range</th><th>Closing date</th></tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Items)
        {
            <tr>
                <td><a href="@job.Url">@job.JobTitle</a></td>
                <td>@String.Join(", ", job.Locations.ToArray<string>())</td>
                <td>@if (job.Salary.HourlyRate.HasValue)
                {
                    @:£@job.Salary.HourlyRate per hour
                }
                else
                {
                    @job.Salary.SalaryRange
                }</td>
                <td>@job.ClosingDate.Value.ToBritishDate()</td>
            </tr>
        }
    </tbody>
</table>
