@if (Model.ButtonNavigation.Count > 0)
{
    <nav>
        <ul class="jobs-buttons">
            @for (var i = 0; i < Model.ButtonNavigation.Count; i++)
                {
                    var link = Model.ButtonNavigation[i];
                    var image = Model.ButtonImages.Count >= (i + 1) ? Model.ButtonImages[i] : null;

                    if (String.IsNullOrEmpty(link.Text) && image != null)
                    {
                    <li class="feature"><a href="@link.Url"><img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" /></a></li>
                }
                else if (image != null)
                {
                    <li class="feature">
                        <a href="@link.Url">
                            <img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" /><div class="caption">
                                <p><span>@link.Text</span></p>
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li class="feature">
                        <a href="@link.Url">
                            <div class="caption">
                                <p><span>@link.Text</span></p>
                            </div>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
}
@Html.Partial("~/Views/EastSussexGovUK/Features/_Facebook.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_Twitter.cshtml")
