@using Escc.EastSussexGovUK.Umbraco.Jobs
@using Escc.EastSussexGovUK.Umbraco.Jobs.Alerts
@model JobsSearchViewModel

<div>
    <label for="keywords">Keywords</label>
    <input type="search" name="keywords" id="keywords" value="@(Model.Query?.Keywords)" />
</div>

<div>
<label for="location">Location</label>
<select multiple="multiple" name="location" id="location">
    @foreach (var location in Model.Locations)
    {
        var selected = (Model.Query != null && Model.Query.Locations.Contains(location.Text)) ? " selected=\"selected\"" : String.Empty;
        <option value="@location.Text"@selected>@location.Text (@location.Count)</option>
    }
</select>
</div>

<div>
    <label for="type">Category</label>
    <select multiple="multiple" name="type" id="type">
        @foreach (var jobType in Model.JobTypes)
        {
            var selected = (Model.Query != null && Model.Query.JobTypes.Contains(jobType.Text)) ? " selected=\"selected\"" : String.Empty;
            <option value="@jobType.Text"@selected>@jobType.Text (@jobType.Count)</option>
        }
    </select>
</div>

<fieldset class="checkboxes">
    <legend>Salary</legend>
    @foreach (var salaryRange in Model.SalaryRanges)
    {
        var salaryRangeValue = salaryRange.Text.Replace(",", String.Empty);
        var selected = (Model.Query != null && Model.Query.SalaryRanges.Contains(salaryRangeValue)) ? " checked=\"checked\"" : String.Empty;
        <label><input type="checkbox" value="@salaryRangeValue" name="salary"@selected /> @salaryRange.Text (@salaryRange.Count)</label>
    }
</fieldset>

<fieldset class="checkboxes">
    <legend>Work pattern</legend>
    @foreach (var workPattern in Model.WorkPatterns)
    {
        var selected = (Model.Query != null && Model.Query.WorkPatterns.Contains(workPattern.Text)) ? " checked=\"checked\"" : String.Empty;
        <label><input type="checkbox" value="@workPattern.Text" name="workpatterns"@selected /> @workPattern.Text (@workPattern.Count)</label>
    }
</fieldset>

@{
    var alertModel = Model as JobAlertsViewModel;
    if (alertModel != null)
    {
    <fieldset class="radioButtonList">
        <legend>Frequency</legend>
        <label><input type="radio" name="frequency" value="1" @(alertModel.Alert.Frequency == 1 ? " checked=\"checked\"" : String.Empty)/> Daily</label>
        <label><input type="radio" name="frequency" value="7" @(alertModel.Alert.Frequency == 7 ? " checked=\"checked\"" : String.Empty)/> Weekly</label>
    </fieldset>
    <input type="hidden" name="JobsSet" value="@(Model.Query?.JobsSet)" />
    }
}

<input type="submit" value="@Model.SubmitButtonText" />

