@using System.Text.RegularExpressions
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.Dates
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Umbraco.Jobs
@using Escc.EastSussexGovUK.Views
@using Escc.Web
@using Humanizer
@using X.PagedList.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Jobs.JobSearchResultsViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);

    var query = HttpUtility.ParseQueryString(Request.Url.Query);
    JobSearchQuery.JobsSortOrder sort = JobSearchQuery.JobsSortOrder.None;
    Enum.TryParse(query["sort"], true, out sort);

    var queryWithoutSort = HttpUtility.ParseQueryString(Request.Url.Query);
    queryWithoutSort.Remove("sort");
    var urlWithoutSort = Request.Url.AbsolutePath + "?" + queryWithoutSort;
    if (queryWithoutSort.Count > 0) { urlWithoutSort += "&";}
    urlWithoutSort += "sort=";

    var queryWithoutPage = HttpUtility.ParseQueryString(Request.Url.Query);
    queryWithoutPage.Remove("page");
    var urlWithoutPage = Request.Url.AbsolutePath + "?" + queryWithoutPage;
    if (queryWithoutPage.Count > 0) { urlWithoutPage += "&"; }
    urlWithoutPage += "page=";

    var pagingHtml = Html.PagedListPager(Model.Jobs, page => urlWithoutPage + page, new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never, LinkToPreviousPageFormat = "&lt; Prev", LinkToNextPageFormat = "Next &gt;", DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "{0}–{1} of {2} results", MaximumPageNumbersToDisplay = 5, ContainerDivClasses = new[] { "infoBar" }, UlElementClasses = new[] { "pagingPages" } }).ToHtmlString();
    pagingHtml = Regex.Replace(pagingHtml, "(<ul class=\"pagingPages\">.*)<li class=\"disabled PagedList-pageCountAndLocation\"><a>(.*?)</a></li>", "<div class=\"pagingResultsInContext\">$2</div>$1");
    pagingHtml = pagingHtml.Replace("<ul class=\"pagingPages\"><li class=\"active\"><span>1</span></li></ul>", String.Empty);
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)

<div class="jobs-content full-page">
    <div class="content text-content">
        <h1>Job search results</h1>
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
        @if (!String.IsNullOrWhiteSpace(Model.Query.Keywords))
        {
            <p>Keywords: @Model.Query.Keywords</p>
        }
        @if (Model.Query.Locations.Count > 0)
        {
            <p>Locations: @Model.Query.Locations.Humanize()</p>
        }
        @if (Model.Query.JobTypes.Count > 0)
        {
            <p>Categories: @Model.Query.JobTypes.Humanize()</p>
        }
        @if (Model.Query.SalaryRanges.Count > 0)
        {
            <p>Salary ranges: @Model.Query.SalaryRanges.Humanize()</p>
        }
        @if (Model.Query.WorkPatterns.Count > 0)
        {
            <p>Work patterns: @Model.Query.WorkPatterns.Humanize()</p>
        }
        @if (!String.IsNullOrWhiteSpace(Model.Query.JobReference))
        {
            <p>Job reference: @Model.Query.JobReference</p>
        }

        @if (Model.Jobs.Count > 0)
        {
            @Html.Raw(pagingHtml)
            <table class="job-results">
                <thead>
                <tr>
                    <th class="job-title"><a href="@urlWithoutSort@(sort == JobSearchQuery.JobsSortOrder.JobTitleAscending ? "jobtitledescending" : "jobtitleascending")">Job title</a></th>
                    <th class="location"><a href="@urlWithoutSort@(sort == JobSearchQuery.JobsSortOrder.LocationAscending ? "locationdescending" : "locationascending")">Location</a></th>
                    <th class="salary"><a href="@urlWithoutSort@(sort == JobSearchQuery.JobsSortOrder.SalaryRangeAscending ? "salaryrangedescending" : "salaryrangeascending")">Salary range</a></th>
                    <th class="work-pattern"><a href="@urlWithoutSort@(sort == JobSearchQuery.JobsSortOrder.WorkPatternAscending ? "workpatterndescending" : "workpatternascending")">Work pattern</a></th>
                    <th class="closing-date"><a href="@urlWithoutSort@(sort == JobSearchQuery.JobsSortOrder.ClosingDateAscending ? "closingdatedescending" : "closingdateascending")">Closing date</a></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var job in Model.Jobs)
                {
                    <tr>
                        @if (job.Url != null)
                        {
                            <td class="job-title"><a href="@job.Url">@job.JobTitle</a></td>
                        }
                        else
                        {
                            <td class="job-title">@job.JobTitle</td>
                        }
                        <td class="location">@job.Location</td>
                        <td class="salary">@job.Salary.SalaryRange</td>
                        <td class="work-pattern">@job.WorkPattern</td>
                        <td class="closing-date"><span>Closes </span>@(job.ClosingDate.HasValue ? job.ClosingDate.Value.ToShortBritishDate() : String.Empty)</td>
                    </tr>
                }
                </tbody>
            </table>
            @Html.Raw(pagingHtml)
            if (String.IsNullOrEmpty(Request.QueryString["page"]) || Request.QueryString["page"].ToUpperInvariant() != "ALL")
            {
                <p><a href="@(urlWithoutPage)all">View all results</a></p>
            }
        }
        else
        {
            <p>Sorry, there are no jobs at the moment matching your search.</p>
        }


        @if (Model.JobAlertsPage != null)
        {
            <h2>Alert me about jobs like these</h2>
            <form method="GET" action="@(Model.JobAlertsPage.Url)" class="job-alerts form short-form">
                <input type="hidden" name="keywords" value="@query["keywords"]" />
                <input type="hidden" name="LOV39" value="@query["location"]" />
                <input type="hidden" name="LOV40" value="@query["type"]" />
                <input type="hidden" name="LOV52" value="@query["org"]" />
                <input type="hidden" name="LOV50" value="@query["hours"]" />
                <input type="hidden" name="LOV46" value="@query["salary"]" />
                <input type="hidden" name="jobnum" value="@query["ref"]" />
                <input type="hidden" name="sagsubmit" value="Save" />
                <input type="hidden" name="backpage" value="1" />
                <input type="hidden" name="Create" value="1" />
                <fieldset class="radioButtonList">
                    <legend>How often?</legend>
                    <label><input type="radio" name="vDeliveryFrequency" value="1" /> Once a day</label>
                    <label><input type="radio" name="vDeliveryFrequency" value="7" /> Once a week</label>
                </fieldset>
                <fieldset class="radioButtonList">
                    <legend>For how long?</legend>
                    <label><input type="radio" name="dExpirationDate" value="15" /> Two weeks</label>
                    <label><input type="radio" name="dExpirationDate" value="30" /> A month</label>
                    <label><input type="radio" name="dExpirationDate" value="90" /> Three months</label>
                    <label><input type="radio" name="dExpirationDate" value="180" /> Six months</label>
                </fieldset>
                <div>
                    <label for="semail">Your email address</label>
                    <input type="email" name="semail" id="semail"/>
                    <input type="submit" value="Get job alert &gt;"/>
                </div>

                @if (!String.IsNullOrEmpty(Model.Metadata.RssFeedUrl))
                {
                    <p class="note"><a href="@Model.Metadata.RssFeedUrl" type="application/rss+xml" rel="alternate" class="rss">Subscribe by RSS to jobs like these</a></p>
                }
            </form>
        }

        @if (Model.JobsSearchPage != null)
        {
            <p class="main-action"><a href="@Model.JobsSearchPage.Url">New job search &gt;</a></p>
        }
    </div>
</div>
