@using System.Globalization
@using Escc.Dates
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.RssViewModel<Escc.EastSussexGovUK.Umbraco.Jobs.Job>>
@{
    Layout = null;
    Response.ContentType = "text/xml";
    Response.Headers.Remove("Content-Security-Policy");
}<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="@Request.Url.Scheme://@Request.Url.Authority/eastsussexgovuk/rss/rss-to-html.ashx" ?>
<?xml-stylesheet type="text/css" href="@Request.Url.Scheme://@Request.Url.Authority/eastsussexgovuk/rss/rss.css" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>@Model.Metadata.Title.Replace("Home: ", String.Empty).Trim()</title>
        <description>@Model.Metadata.Description</description>
        <link>@Request.Url.Scheme://@Request.Url.Authority/</link>
        <atom:link href="@Request.Url" rel="self" type="application/rss+xml" />
        <language>en-GB</language>
        <copyright>@DateTime.Now.Year East Sussex County Council</copyright>
        <pubDate>@DateTime.UtcNow.ToRfc822DateTime()</pubDate>
        <lastBuildDate>@DateTime.UtcNow.ToRfc822DateTime()</lastBuildDate>
        <image>
            <title>East Sussex County Council logo</title>
            <url>@Request.Url.Scheme://@Request.Url.Authority/eastsussexgovuk/rss/escc-logo-for-feed.gif</url>
            <link>@Request.Url.Scheme://@Request.Url.Authority/</link>
            <width>90</width>
            <height>65</height>
        </image>
    @foreach (var job in Model.Items)
    {
        var url = "<link>" + HttpUtility.HtmlEncode(job.Url) + "</link>";
        <item>
            <title>@job.JobTitle</title>
            <description>@job.WorkPattern @job.ContractType.ToLower(CultureInfo.CurrentCulture) @job.Salary.SalaryRange in @job.Location. Closing date @job.ClosingDate.Value.ToBritishDate(). @job.Organisation / @job.JobType vacancy.</description>
            @Html.Raw(url)
            <guid isPermaLink="false">https://www.eastsussex.gov.uk/id/job-advert/@job.Id</guid>
            <source url="@Request.Url.ToString().Replace("\"", "%22")"/>
            @if (!String.IsNullOrEmpty(job.Location))
            {
                <category>@job.Location</category>
            }
            @if (!String.IsNullOrEmpty(job.ContractType))
            {
                <category>@job.ContractType</category>
            }
            @if (!String.IsNullOrEmpty(job.JobType))
            {
                <category>@job.JobType</category>
            }
            @if (!String.IsNullOrEmpty(job.Organisation))
            {
                <category>@job.Organisation</category>
            }
            @if (!String.IsNullOrEmpty(job.WorkPattern.ToString()))
            {
                <category>@job.WorkPattern</category>
            }
        </item>
    }
    </channel>
</rss>
