@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.Umbraco.PropertyTypes
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Jobs.JobsHomeViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss("~/css/jobs/jobs-small.css");
    Html.RequiresCss("~/css/jobs/jobs-medium.css", MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss("~/css/jobs/jobs-large.css", MediaQueryAlias.Resolve("Large"));
    Html.RequiresCss(Request.Url.AbsolutePath + "?alttemplate=JobsCss&media-query=small", 101);
    if (!Model.IsPublicView)
    {
        new ContentSecurityPolicyHeaders(Response.Headers).AppendPolicy("img-src https://dummyimage.com").UpdateHeaders();
    }
    var showFacebook = (Model.SocialMedia.FacebookPageUrl != null);
    var showTwitter = (!String.IsNullOrEmpty(Model.SocialMedia.TwitterAccount) || Model.SocialMedia.TwitterWidgetScript != null);

    var showSocialMedia = (showFacebook || showTwitter);
}
@section Breadcrumb {}
@Html.Partial("~/Views/JobsHeader.cshtml", Model)
<div class="jobs-content">
    @if (Model.TileNavigation.Count > 0)
    {
        <div class="@(showSocialMedia ? "article" : "full-page")">
            <div class="text-content content">
                <ul class="jobs-buttons">
                    @{
                        var imagesOrLinks = (Model.TileNavigation.Count > Model.TileImages.Count) ? Model.TileNavigation.Count : Model.TileImages.Count;
                        for (var i = 0; i < imagesOrLinks; i++)
                        {
                            var link = Model.TileNavigation.Count >= (i + 1) ? Model.TileNavigation[i] : null;
                            var image = Model.TileImages.Count >= (i + 1) ? Model.TileImages[i] : null;
                            if (image == null && !Model.IsPublicView)
                            {
                                // Help the editors by highlighting that they need an image to go with their link
                                image = new Image() { ImageUrl = new Uri("https://dummyimage.com/310x252/292929/e3e3e3"), Width = 310 };
                            }
                            if (image == null) { break; }

                            var oddOrEven = (i%2 == 0) ? "odd" : "even"; // because nth-child is IE11+
                            var group = "group" + ((i%3) + 1);
                            if (link == null)
                            {
                                <li class="feature @oddOrEven @group"><img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" /></li>
                            }
                            else if (String.IsNullOrEmpty(link.Text))
                            {
                                <li class="feature @oddOrEven @group"><a href="@link.Url"><img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" /></a></li>
                            }
                            else if (link.Url == null)
                            {
                                <li class="feature @oddOrEven @group">
                                    <img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" />
                                    <div class="caption">
                                        <p><span>@link.Text</span></p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="feature @oddOrEven @group">
                                    <a href="@link.Url">
                                        <img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" />
                                        <div class="caption">
                                            <p><span>@link.Text</span></p>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        
        if (showSocialMedia)
        {
            <div class="supporting supporting-jobs">
                @if (showFacebook)
                {
                    @Html.Partial("~/Views/EastSussexGovUK/Features/_Facebook.cshtml")
                }
                @if (showTwitter)
                {
                    @Html.Partial("~/Views/EastSussexGovUK/Features/_Twitter.cshtml")
                }
            </div>
        }
    }
</div>