@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Umbraco.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<LandingViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);

    if (Model.EsccWebsiteView != EsccWebsiteView.Plain)
    {
        Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
        Html.RequiresCss(CssFileAlias.Resolve("NavigationMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
        Html.RequiresCss("~/css/rating-small.css");
        Html.RequiresCss("~/css/rating-medium.css", MediaQueryAlias.Resolve("Medium"));
    }

    var webChat = new WebChat() {WebChatSettings = Model.WebChat};
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        webChat
    });

    // Decide whether to span 8 cols or 12 at large sizes
    var extend = !Model.ShowEastSussex1SpaceWidget;
    extend = extend && !Model.ShowEscisWidget;
    extend = extend && !webChat.IsRequired();
    extend = extend && (Model.SocialMedia.TwitterWidgetScript == null && String.IsNullOrEmpty(Model.SocialMedia.TwitterAccount));
    extend = extend && Model.SocialMedia.FacebookPageUrl == null;

    var pageClass = extend ? "full-page" : "article";
}

<div class="@pageClass">
    <article>
        <div class="content text-content">

            <h1>@Model.Metadata.Title</h1>

            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
            @Html.Partial("~/Views/Layouts/_LandingNavigation.cshtml", Model.Navigation)
        </div>
    </article>
</div>
@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    @Html.Partial("~/Views/Layouts/_Rating.cshtml")
</div>