@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.PersonViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = new CustomerFocusSkin(Model.EsccWebsiteView);

    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        new EmbeddedYouTubeVideos() { Html = new [] { Model.LeadingText.ToString(), Model.Content1.ToString(), Model.Content2.ToString(), Model.Contact.ToString() }},
        new EmbeddedGoogleMaps() { Html = new [] { Model.LeadingText.ToString(), Model.Content1.ToString(), Model.Content2.ToString(), Model.Contact.ToString() }},
        new WebChat() { WebChatSettings = Model.WebChat }
    });

    Model.Metadata.Title = Model.JobTitle + " – " + Model.Metadata.PersonAbout.Name;
}

<div class="article task">
    <article>
        <div class="content text-content">

            <h1>@Model.Metadata.Title</h1>

            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")

            @if (!String.IsNullOrWhiteSpace(@Model.LeadingText.ToString()))
            {
                <div class="lead">
                    @Model.LeadingText
                </div>
            }

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading1))
            {
                <h2>@Model.Subheading1</h2>
            }
            @Model.Content1

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading2))
            {
                <h2>@Model.Subheading2</h2>
            }
            @Model.Content2
            @if (Model.Metadata.PersonAbout.EmailAddresses.Any() || Model.Metadata.PersonAbout.TelephoneNumbers.Any() || !String.IsNullOrEmpty(Model.Contact.ToHtmlString()))
            {
                <h2>Contact</h2>
                if (Model.Metadata.PersonAbout.TelephoneNumbers.Any())
                {
                     <p>Phone: @Model.Metadata.PersonAbout.TelephoneNumbers[0].NationalNumber</p>
                }
                if (Model.Metadata.PersonAbout.EmailAddresses.Any())
                {
                    var transformer = new WebsiteFormEmailAddressTransformer(Request.Url);
                    <p>Email: <a href="@transformer.TransformEmailAddress(Model.Metadata.PersonAbout.EmailAddresses[0])">@Model.Metadata.PersonAbout.Name</a></p>
                }
                @Model.Contact
            }
        </div>
    </article>
</div>

@if (Model.Photo != null)
{
    <img src="@Model.Photo.ImageUrl" alt="@Model.Photo.AlternativeText" width="@Model.Photo.Width" class="supporting" />
}

@Html.Partial("~/Views/Layouts/_RelatedLinks.cshtml", Model.RelatedLinksGroups)
@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
</div>
@section JavaScript
{
    <script type="application/ld+json">
{
"@@context": "http://schema.org",
"@@type": "Person",
"honorificPrefix": "@Model.Metadata.PersonAbout.Name.Titles",
"givenName": "@Model.Metadata.PersonAbout.Name.GivenNames",
"familyName": "@Model.Metadata.PersonAbout.Name.FamilyName",
"honorificSuffix": "@Model.Metadata.PersonAbout.Name.Suffixes",
"name": "@Model.Metadata.PersonAbout.Name",
@if (Model.Metadata.PersonAbout.EmailAddresses.Any())
{
@:"email": "@Model.Metadata.PersonAbout.EmailAddresses[0]",
}
@if (Model.Metadata.PersonAbout.TelephoneNumbers.Any())
{
@:"telephone": "@Model.Metadata.PersonAbout.TelephoneNumbers[0]",
}
"jobTitle": "@Model.JobTitle",
"worksFor": {
        "@@id": "https://www.eastsussex.gov.uk#id",
        "@@type": "Organization",
        "name": "East Sussex County Council"
    }
}
</script>
}