@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Umbraco.MicrosoftCmsMigration.UserControls
@using Escc.Registration.MarriageSkin
@using Escc.EastSussexGovUK.Umbraco.MicrosoftCmsMigration
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MicrosoftCmsViewModel>
@{ 
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = SkinSelector.SelectSkin(new IEsccWebsiteSkin[] { new MarriageSkin(Model.EsccWebsiteView, Model.Metadata.PageUrl) }, new CustomerFocusSkin(Model.EsccWebsiteView));

    // This view uses inline styles, so relax the content security policy to allow that
    var policy = new ContentSecurityPolicyHeaders(Response.Headers);
    policy.AppendPolicy("style-src 'unsafe-inline'");
    policy.UpdateHeaders();

    if (Model.EsccWebsiteView != EsccWebsiteView.Plain)
    {
        Html.RequiresCss(CssFileAlias.Resolve("TopicSmall"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
        Html.RequiresCss(CssFileAlias.Resolve("TopicMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
        Html.RequiresCss("~/css/rating-small.css");
        Html.RequiresCss("~/css/rating-medium.css", MediaQueryAlias.Resolve("Medium"));
    }

    var placeholders = CmsUtilities.Placeholders;
    var html = new string[]
    {
        placeholders["phDefIntro"].Value.ToString(),
        placeholders["phDefContent01"].Value.ToString(),
        placeholders["phDefContent02"].Value.ToString(),
        placeholders["phDefContent03"].Value.ToString(),
        placeholders["phDefContent04"].Value.ToString(),
        placeholders["phDefContent05"].Value.ToString(),
        placeholders["phDefContent06"].Value.ToString(),
        placeholders["phDefContent07"].Value.ToString(),
        placeholders["phDefContent08"].Value.ToString(),
        placeholders["phDefContent09"].Value.ToString(),
        placeholders["phDefContent10"].Value.ToString(),
        placeholders["phDefContent11"].Value.ToString(),
        placeholders["phDefContent12"].Value.ToString(),
        placeholders["phDefContent13"].Value.ToString(),
        placeholders["phDefContent14"].Value.ToString(),
        placeholders["phDefContent15"].Value.ToString(),
        placeholders["phDefContent16"].Value.ToString(),
        placeholders["phDefContent17"].Value.ToString(),
        placeholders["phDefContent18"].Value.ToString(),
        placeholders["phDefContent19"].Value.ToString(),
        placeholders["phDefContent20"].Value.ToString()
    };

    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        new EmbeddedYouTubeVideos() { Html = html },
        new EmbeddedGoogleMaps() { Html = html },
        new WebChat() { WebChatSettings = Model.WebChat }
    });
}

<div class="article">
    <article>
        <div class="content text-content">
            <h1>@Model.Metadata.Title</h1>
            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")
            @Html.Partial("~/MicrosoftCmsMigration/UserControls/SectionNavigationMvc.ascx", new SectionNavigationSettings() { HtmlPlaceholderToBind = "highlightContent", ImagePlaceholderToBind = "highlightImage", EsccWebsiteView = Model.EsccWebsiteView })
            @Html.Partial("~/Views/StandardTopicPage.ascx", Model)
        </div>
</article>
</div>

@Html.Partial("~/MicrosoftCmsMigration/UserControls/RelatedLinksMvc.ascx", Model)

@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    @Html.Partial("~/Views/Layouts/_Rating.cshtml")
</div>