@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Skins
@using Escc.Registration.RegistrationSkin
@using Escc.EastSussexGovUK.Umbraco.Skins.FosterWithTrust
@using Escc.EastSussexGovUK.Umbraco.Skins.SupportWithTrust
@using Escc.EastSussexGovUK.Umbraco.Services
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Models.TaskViewModel>
@{
    Model.EsccWebsiteView = ViewSelector.CurrentViewIs(Layout, ViewEngine.Mvc);
    Model.EsccWebsiteSkin = SkinSelector.SelectSkin(new IEsccWebsiteSkin[] {
        new RegistrationSkin(Model.EsccWebsiteView, Model.Metadata.PageUrl),
        new FosterWithTrustSkin(Model.EsccWebsiteView, Model.SkinToApply == "Foster with trust"),
        new SupportWithTrustSkin(Model.EsccWebsiteView, Model.SkinToApply == "Support with trust")
    }, new CustomerFocusSkin(Model.EsccWebsiteView));

    if (Model.EsccWebsiteView != EsccWebsiteView.Plain)
    {
        Html.RequiresCss(CssFileAlias.Resolve("TaskTemplateSmall"));
    }

    var html = new[] { Model.LeadingText.ToString(), Model.Content1.ToString(), Model.Content2.ToString(), Model.Content3.ToString(), Model.Content4.ToString() };
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
    {
        new EmbeddedYouTubeVideos() { Html = html },
        new EmbeddedGoogleMaps() { Html = html },
        new EmbeddedICaseworkForm() { Html = html },
        new WebChat() { WebChatSettings = Model.WebChat }
    });
}

<div class="article task">
    <article>
        <div class="content text-content">

            <h1>@Model.Metadata.Title</h1>

            @Html.Partial("~/Views/EastSussexGovUK/Features/_Latest.cshtml")

            @if (!String.IsNullOrWhiteSpace(@Model.LeadingText.ToString()))
            {
                <div class="lead">
                    @Model.LeadingText
                </div>
            }

            <p class="main-action"><a href="@Model.StartPageUrl">@Model.StartButtonText</a></p>

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading1))
            {
                <h2>@Model.Subheading1</h2>
            }
            @Model.Content1

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading2))
            {
                <h2>@Model.Subheading2</h2>
            }
            @Model.Content2

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading3))
            {
                <h2>@Model.Subheading3</h2>
            }
            @Model.Content3

            @if (!String.IsNullOrWhiteSpace(@Model.Subheading4))
            {
                <h2>@Model.Subheading4</h2>
            }
            @Model.Content4
            
            @foreach (var image in Model.PartnerImages)
            {
                <img src="@image.ImageUrl" alt="@image.AlternativeText" width="@image.Width" height="@image.Height"/>
            }
            
        </div>
    </article>
</div>

@Html.Partial("~/Views/Layouts/_RelatedLinks.cshtml", Model.RelatedLinksGroups)
@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_SupportingContentDesktop.cshtml")
<div class="text-content content">
    @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    @Html.Partial("~/Views/Layouts/_Rating.cshtml")
</div>